.banner {
    height: 75px;
    margin: 0px -10px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
}

.banner h2{
    color: rgb(0, 0, 0);
    padding-top: 10px;
    margin-left: 2%;
    display: inline-block;
}

.banner Img{
    position: relative;
    float: right;
    right: 10px;
    height: 70px;
}
